# exclude everything into directory
.devcontainer/
.dockerignore
.gitignore
.vscode
__pycache__/
/ede/ede/__pycache__/
!/csv/
/csv/*.csv


#exclude *.pyc files
*.pyc

#exclude *.txt and *.zip
*.txt
*.zip